html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
nav{
  width:100%;
  height: 10%;
  line-height: 4;
  background-color: #EAEAEA;
}
ul{
  list-style: none;
}
ul.nav-list{
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
li.nav-element{
  display: inline-block;
}
li.nav-element:nth-child(1){
  font-weight: bold;
}
aside.menu-aside{
  position: relative;
  width: 14%;
  min-height: 80%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: #D6D6D6;
}
ul.menu-aside-list{
  margin: 0;
  margin-top: 5%;
  padding: 0;
  justify-content: center;
  line-height: 7;
}
li.menu-element{
  text-align: center;
}
li:hover{
  cursor: pointer;
  color: darkblue;
}
section.content{
  position: relative;
  float: right;
  width: 85%;
}
footer{
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #AACAFF;
}
div.invisible{
  clear: both;
}
