section.content{
  display: none;
}
div.info{
  display: none;
}
div.datos_info{
  display: none;
  width: 90%;
  background-color: #F1FFE1;
}
div.datos_info:hover{
  background-color: #F1FFE1;
}
#add{
  float: right;
}
