<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="pp">
      <div class="tabla">
        <form class="" action="../dynamics/php/actividades_academicas/ActAca.php" method="post">
          <input type="radio" name="actividad" value="1">Practica<br>
          <input type="radio" name="actividad" value="2">Proyecto<br>
          <input type="radio" name="actividad" value="3">Taller<br>
          <input type="submit" name="" value="Enviar">
        </form>
      </div>
    </div>
  </body>
</html>
