<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inventario</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>SWALCE</li>
        <li>Actividades</li>
        <li>Inventario</li>
        <li>Material</li>
      </ul>
    </nav>
    <div class="">
      <div class="">
        <form class="" action="../dynamics/php/inventario/inv.php" method="post">
          <label for="">Laboratorio:</label> <input type="text" name="lab" value=""><br><br>
          <label for="">Nombre del material:</label><input type="text" name="material" value=""><br><br>
          <label for="">No_Inventario:</label><input type="text" name="no_inv" value=""><br><br>
          <label for="">Marca:</label><input type="text" name="marca" value=""><br><br>
          <label for="">Modelo:</label><input type="text" name="modelo" value=""><br><br>
          <label for="">No.Serie:</label><input type="text" name="no_serie" value=""><br><br>
          <label for="">Clave del salon:</label><input type="text" name="cve_salon" value=""><br><br>
          <label for="">Ubicacion:</label><input type="text" name="ubicacion" value=""><br><br>
          <label for="">Cantidad:</label><input type="text" name="cantidad" value=""><br><br>
          <label for="">Observaciones:</label><input type="text" name="observaciones" value=""><br><br>
          <label for="">Clasificacion:</label><input type="text" name="clasificacion" value=""><br><br>
          <input type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </body>
</html>
